<nav class="navbar navbar-expand-lg">
    <img src="{{asset('saplulogo.jpg')}}" id="iconoSaplu" alt="">
    <div class="d-flex justify-content-center">
        <ul class="navbar-nav collapse navbar-collapse" id="menu">
            <li class="nav-item active">
                <a class="nav-link" href="{{path('home')}}">Home</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_register_work')}}">Registrar trabajo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_query_user')}}">Usuarios</a>
                </li>
                {% if app.user.role == 'Administrador' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('app_register_user')}}">Nuevo trabajador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_register_client')}}">Nuevo usuario</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('app_delete_user_or_worker')}}">Eliminar trabajador o usuario</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('app_delete_user_or_worker')}}">Modificar trabajador o usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_job_history')}}">Histórico</a>
                    </li>
            {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_logout')}}">Cerrar sesión</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_login')}}">Login</a>
                </li>
            {% endif %}
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="">Menu</span>
        </button>
    </div>
</nav>